<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script async defer data-domain="oslopride.no" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
